.events-page {
    text-align: center;
    padding: 20px;
  }
  
  /* Style for each domain section */
  .domain-section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
  }
  
  /* Style for the container of events within a domain */
  .events-container {
    display: flex; 
    flex-direction: column; 
  }
  
  /* Style for individual event cards */
  .event-card {
    background-color: #fff;
    text-align: left;
    padding: 10px;
  }
  
  /* Style for event card headings */
  .event-card h4 {
    margin: 0;
    font-size: 18px;
  }
  
  /* Style for event card buttons */
  .event-card button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(25, 16, 91);
  }
  
  /* Style for event card buttons on hover */
  .event-card button:hover {
    background-color: #007bff;
  }
  
  /* Style for strong elements within event cards */
  .event-card strong {
    font-weight: bold;
  }
  
  /* Style for event descriptions */
  .event-card p {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
  }

  button{
    width:150px !important; 
  }
  .section{
    display: flex;
    flex-direction: row;
  }

  .heading{
    text-align: left;
  }
  
  