/* UserNavbar.css */

/* Default styles for the sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 20%);
    transition: left 10s ease-in-out;
}

.sidebar.vertical .welcomeAdmin,
    .sidebar.vertical .logout-btn-div {
        display: block;
    }

    .sidebar.vertical .complaint {
        display: block;
        /* Additional styling for .complaint as needed */
    }

/* Hamburger menu styles for screens with a max width of 767px */
@media (max-width: 767px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.open {
        left: 0;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .bar.open {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
}

/* Hide the hamburger menu for screens larger than 767px */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

/* Other styles as needed for your content */
.welcomeAdmin {
    color: white;
    padding: 20px;
}

.logout-btn-div {
    padding: 20px;
}
